* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(180, 43, 43);
    color: #fff;
    line-height: 1.6;
}
.header-nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}
.logo {
    margin-right: auto;
    color: #fff ;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-item {
    margin-right: 1.5rem;
    position: relative;
}
.header-menu-item a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.header-menu-item a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.intro {
    text-align: center;
}

.profile-image {
    width: 300px;
    display: block;
    margin: 1rem auto;
    border-radius: 50%;
}

h1, h2 {
    text-align: center;
    text-decoration: underline;
}

.description {
    text-align: center;
    margin-bottom: 2rem;
}

.my-name {
    text-align: center;
    padding: 1rem;
}

.background-image {
    background-image: url("./images/background_for_project1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 3rem 0;
}

.form-row {
    margin-bottom: 1rem;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

textarea {
    height: 150px;
}

button[type="submit"] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ecb8b8;
}

.my-name {
    text-align: center;
    padding: 1rem;
    margin-top: 2rem; 
}

.three-column-item {
    text-align: center; 
}

.three-column-item img {
    width: 200px; 
    height: auto; 
    margin-bottom: 10px; 
}
